# Postgres
POSTGRES_DB=pongdb
POSTGRES_USER=rdas-nev
POSTGRES_PASSWORD=inception123
POSTGRES_HOST=db
POSTGRES_PORT_LOCAL=5432
POSTGRES_PORT_DOCKER=5432

# Backend
BACKEND_PORT_LOCAL=8000
BACKEND_PORT_DOCKER=8000
