<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Game Title</title>
    <!-- Include any other necessary meta tags, stylesheets, or scripts here -->
</head>
<body>

    <div id="game-container">
        <canvas id="gameCanvas" width="800" height="400" style="background-color: black;"></canvas>
        <button id="startGame">Start Game</button>
        <button id="stopGame">Stop Game</button>
        <!-- ... other HTML elements ... -->
    </div>
    <!-- Include the JavaScript code -->
    {{ room_name|json_script:"room_name" }}
    {{ user1|json_script:"user1" }}
    {{ user2|json_script:"user2" }}
    {{ sender|json_script:"sender" }}
    {{ player0|json_script:"player0" }}
    {{ player1|json_script:"player1" }}
    <script>
            const gameId = JSON.parse(document.getElementById('room_name').textContent);
            // const currentURL = window.location.href;
            // const urlParts = currentURL.split('/');
            //
            // const gameId = urlParts[3];
            const user1 = JSON.parse(document.getElementById('user1').textContent);
            const user2 = JSON.parse(document.getElementById('user2').textContent);
            const gameSocket = new WebSocket('ws://' + window.location.host + '/ws/game/' + gameId + '/' + user1 + '/' + user2 + '/');
            let canvas = document.getElementById('gameCanvas');
            let context = canvas.getContext('2d');

            gameSocket.onmessage = function(event) {
                const receivedData = JSON.parse(event.data);
                if (receivedData['type'] === 'game_message') {
                    renderGameFrame(receivedData);
                }
                else if (receivedData['type'] === 'countdown_message') {
                    renderCountdown(receivedData);
                }
                else if (receivedData['type'] === 'ending_message') {
                    window.location.href = 'http://' + window.location.host + '/game/ending/?gameinfo=' + receivedData['score'] + '&gametag=' + receivedData['game_tag'] + '&roomname=' + gameId;
                }
            };

            const renderCountdown = (gameData) => {
                const countdownDuration = 5;

                // Render numbers from countdownDuration to 1
                for (let i = countdownDuration; i > 0; i--) {
                    setTimeout(() => {
                        // Render the game frame with the countdown number
                        renderGameFrame(gameData);
                        renderNumber(i);
                        context.fillStyle = 'black';  // Default fill color
                        context.strokeStyle = 'black';  // Default stroke color
                        context.lineWidth = 1;  // Default line width
                        context.font = '10px sans-serif';  // Default font
                        context.textAlign = 'start';  // Default text alignment
                        context.textBaseline = 'alphabetic';  // Default text baseline
                    }, (countdownDuration - i) * 1000);
                }

                // Render "GO!" after the countdown
                setTimeout(() => {
                    renderGameFrame(gameData);
                    renderGo();
                    context.fillStyle = 'black';  // Default fill color
                    context.strokeStyle = 'black';  // Default stroke color
                    context.lineWidth = 1;  // Default line width
                    context.font = '10px sans-serif';  // Default font
                    context.textAlign = 'start';  // Default text alignment
                    context.textBaseline = 'alphabetic';  // Default text baseline
                }, countdownDuration * 1000);
            };

            const renderNumber = (number) => {
                context.fillStyle = '#ffffff'; // Change the background color of the rectangle
                context.fillRect(canvas.width / 2.65, canvas.height / 2.8, canvas.width / 4, canvas.height / 4); // Draw a slightly smaller rectangle
                context.fillStyle = '#0a4602'; // Change the text color
                context.font = 'bold 96px Arial';
                context.textAlign = 'center';
                context.textBaseline = 'middle';
                context.fillText(number, canvas.width / 2, canvas.height / 2);
            };

            const renderGo = () => {
                context.fillStyle = '#ffffff'; // Change the background color of the rectangle
                context.fillRect(canvas.width / 2.65, canvas.height / 2.8, canvas.width / 4, canvas.height / 4);
                context.fillStyle = '#0a4602'; // Change the text color
                context.font = 'bold 96px Arial';
                context.textAlign = 'center';
                context.textBaseline = 'middle';
                context.fillText('GO!', canvas.width / 2, canvas.height / 2);
            };

            const renderGameFrame = (gameData) => {
                if (context && canvas) {
                    clearCanvas();
                    drawField();
                    gameData.score = JSON.parse(document.getElementById('player0').textContent) + "    " + gameData.score + "    " + JSON.parse(document.getElementById('player1').textContent);
                    EstamosNaChampions(gameData.score);
                    drawPaddle(0, gameData.player0, 10, 110);
                    drawPaddle(1, gameData.player1, 10, 110);
                    drawBall(gameData.ballX, gameData.ballY, gameData.ballSpeedX ,gameData.ballSpeedY, gameData.ball_speed);
                }
            };

            const clearCanvas = () => {
                if (context && canvas) {
                    context.clearRect(0, 0, canvas.width, canvas.height);
                }
            };

            function hexToRgb(hex) {
                // Remove the hash if it exists
                hex = hex.replace(/^#/, '');

                // Parse the hex values to separate R, G, B components
                const bigint = parseInt(hex, 16);
                const r = (bigint >> 16) & 255;
                const g = (bigint >> 8) & 255;
                const b = bigint & 255;

                // Return the RGB values as an object
                return { r, g, b };
            }

            const drawBall = (x, y, speedX, speedY, ballSpeed) => {
                if (context) {
                    // Define a color gradient based on speed
                    const colorGradient = [
                        { speed: 7, color: '#ffff00' },
                        { speed: 10, color: '#ff4d00' },
                        { speed: 13, color: '#ff0000' },
                        { speed: 18, color: '#0000ff' },
                        { speed: 50, color: '#bf00ff' },
                    ];

                    // Find the color corresponding to the ball's speed in the gradient
                    let ballColor = 'white';  // Default color
                    for (const { speed, color } of colorGradient) {
                        if (ballSpeed <= speed) {
                            ballColor = color;
                            break;
                        }
                    }

                    // Display the magnitude of the speed
                    context.fillStyle = ballColor;
                    context.font = '14px Arial';
                    let show_speed = `Speed: ${ballSpeed.toFixed(3)}`;
                    context.fillText(show_speed, x - 30, y - 30);

                    // Draw the main ball
                    context.fillStyle = ballColor;
                    context.beginPath();
                    context.arc(x, y, 10, 0, Math.PI * 2);
                    context.fill();
                    context.closePath();

                    // Draw the trailing circles
                    const trailCount = 5;  // Adjust the number of circles in the trail
                    const trailSpacing = 1.5;  // Adjust the spacing between circles in the trail

                    for (let i = 1; i <= trailCount; i++) {
                        const trailOpacity = 1 - (i / trailCount);
                        const trailRadius = i * trailSpacing;


                        const rgb = hexToRgb(ballColor)
                        context.fillStyle = `rgba(${rgb.r}, ${rgb.g}, ${rgb.b}, ${trailOpacity})`;// Yellow color with variable opacity
                        context.beginPath();
                        context.arc(x - speedX * trailRadius, y - speedY * trailRadius, 10, 0, Math.PI * 2);
                        context.fill();
                        context.closePath();
                    }
                }
            };


            const drawPaddle = (player, y, width, height) => {
                if (context) {
                    if (player === 0) {
                        context.fillStyle = 'red'; // Player 0 Paddle color
                        context.fillRect(0, y, width, height);
                    } else {
                        context.fillStyle = 'blue'; // Player 1 Paddle color
                        context.fillRect(790, y, width, height);
                    }
                }
            };

            const drawField = () => {
                if (context) {
                    context.fillStyle = '#ffffff'
                    context.fillRect(398, 0, 4, 400);
                }
            };

            const EstamosNaChampions = (score) => {
                if (context) {
                    context.fillStyle = 'white'
                    context.fillRect(285, 5, 240, 70);
                    context.fillStyle = 'black';
                    context.font = "20px 'Sports World', sans-serif";
                    context.fillText("FINAL DA CHAMPIONS!", 295, 40);
                    context.font = "16px 'Sports World', sans-serif";
                    {#context.fillText(score, 384, 65);#}
                    context.fillText(score, 300, 65);
                }
            };

            const handleKeyDown = (event) => {
                // console.log(event.key)
                const user = JSON.parse(document.getElementById('sender').textContent)
                {#console.log(user);#}
                if (event.key === "w") {
                    // Handle Player 0 UP key press
                    gameSocket.send("pw" + user);
                } else if (event.key === "s") {
                    // Handle Player 0 DOWN key press
                    gameSocket.send("ps" + user);
                } else if (event.key === "i") {
                    // Handle Player 1 UP key press
                    gameSocket.send("pi" + user);
                } else if (event.key === "k") {
                    // Handle Player 1 DOWN key press
                    gameSocket.send("pk" + user);
                }
            };

            const handleKeyUp = (event) => {
                const user = JSON.parse(document.getElementById('sender').textContent)
                {#console.log(user);#}
                if (event.key === "w") {
                    // Handle Player 0 UP key press
                    gameSocket.send("rw" + user);
                } else if (event.key === "s") {
                    // Handle Player 0 DOWN key press
                    gameSocket.send("rs" + user);
                } else if (event.key === "i") {
                    // Handle Player 1 UP key press
                    gameSocket.send("ri" + user);
                } else if (event.key === "k") {
                    // Handle Player 1 DOWN key press
                    gameSocket.send("rk" + user);
                }
            };

            const startGame = () => {
                gameSocket.send('startgame');
            };

            const stopGame = () => {
                // Emit 'startgame' event when the button is clicked
                if (gameSocket) {
                    gameSocket.send('stopgame');
                }
            };

            document.addEventListener("keyup", handleKeyUp);
            document.addEventListener("keydown", handleKeyDown);
            const startButton = document.getElementById("startGame");
            const stopButton = document.getElementById("stopGame");
            startButton.addEventListener("click", startGame);
            stopButton.addEventListener("click", stopGame);
    </script>
</body>
<a href="{%  url 'authuser:home' %}">
            <button>HOME</button>
            <br>
</a>
</html>
