<!-- authuser/templates/authuser/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>Welcome to the Home Page, <a href="{% url 'authuser:profile' username=current_user %}"> {{ current_user }}</a></h1>

    <h2>Your Friends:</h2>
    <ul>
        {% for friend in friend_list.friends.all %}
            <a href="{%  url 'authuser:profile' username=friend.username %}">
                <button>{{ friend.username }}</button>
            <br>
            </a>
        {% endfor %}
    </ul>

    <h2>Pending Friend Requests:</h2>
    <ul>
        {% for request_info in pending_requests_info %}
            {% if request_info.sender.username == current_user %}
                <li>Request sent to: {{ request_info.receiver.username }} at {{ request_info.timestamp }}</li>
                <form method="post" action="{% url 'friend:cancel_request' username=request_info.receiver.username %}">
                    {% csrf_token %}
                    <button type="submit">CANCEL</button>
                 </form>
            {% else %}
                <li>Request received from: {{ request_info.sender.username }} at {{ request_info.timestamp }}</li>
                <form method="post" action="{% url 'friend:accept_request' username=request_info.sender.username %}">
                    {% csrf_token %}
                    <button type="submit">ACCEPT</button>
                 </form>
                <form method="post" action="{% url 'friend:decline_request' username=request_info.sender.username %}">
                    {% csrf_token %}
                    <button type="submit">DECLINE</button>
                 </form>
            {% endif %}
        {% endfor %}
    </ul>



    <h2>Users:</h2>
    <ul>
        {% for user in all_users.all %}
            <a href="{% url 'authuser:profile' username=user.username %}">
                <button>{{ user.username }}</button>
                <br>
            </a>
        {% endfor %}
    </ul>

    <a href="{%  url 'game:local_room' %}">
                <button>Local Game</button>
            <br>
    </a>

    <form method="post" action="{% url 'authuser:logout' %}">
        {% csrf_token %}
        <button type="submit">LOGOUT</button>
    </form>
    <!-- Add your content here -->

</body>
</html>
