<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE PAGE</title>
</head>
<body>
    <h1>{{ target_user }}</h1>
        <a href="{%  url 'authuser:home' %}">
            <button>HOME</button>
            <br>
        </a>
    <img src="{{ info.avatar.url }}" alt="Avatar" width="200" height="200">
    <h2>Info:</h2>
    <ul>
        <li>Username: {{ info.username }}</li>
        <li>Tournament Name: {{ info.tournament_name }}</li>
        <li>Date Joined: {{ info.date_joined }}</li>
        <li>Last Login: {{ info.last_login }}</li>
        <li>Status: {{ info.status }}</li>
    </ul>
    <h2>Stats:</h2>
    <ul>
        <li>Wins: {{ stats.wins }}</li>
        <li>Losses: {{ stats.losses }}</li>
        <li>Games Played: {{ stats.games_played }}</li>
        <li>Tournaments Won: {{ stats.tournaments_won }}</li>
        <li>Tournaments Played: {{ stats.tournaments_played }}</li>
    </ul>
    <h2>Game History: </h2>
    <ul>
        {% for game in game_history %}
            <li>{{ game }}
            {% if game.winner.username == target_user %}
                VICTORY
            {% else %}
                DEFEAT
            {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'friend:send_friend_request' username=target_user %}">
        {% csrf_token %}
        <button type="submit">Add Friend</button>
    </form>
    <form method="post" action="{% url 'friend:remove_friend' username=target_user %}">
        {% csrf_token %}
        <button type="submit">Remove Friend</button>
    </form>
    <a href="{%  url 'chat:private_room' other_user=target_user %}">
        <button>CHAT</button>
        <br>
    </a>
    <a href="{%  url 'game:remote_room' other_user=target_user %}">
        <button>GAME</button>
        <br>
    </a>
</body>
</html>
