<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE PAGE</title>
</head>
<body>
    <h1>{{ target_user }}</h1>
        <a href="{%  url 'authuser:home' %}">
            <button>HOME</button>
            <br>
        </a>
    <h2>Info:</h2>
    <ul>
        <li>Username: {{ info.username }}</li>
        <li>Email: {{ info.email }}</li>
        <li>Tournament Name: {{ info.tournament_name }}</li>
        <li>Date Joined: {{ info.date_joined }}</li>
        <li>Last Login: {{ info.last_login }}</li>
        <li>Status: {{ info.status }}</li>
    </ul>
    <form method="post" action="{% url 'friend:send_friend_request' username=target_user %}">
        {% csrf_token %}
        <button type="submit">Add Friend</button>
    </form>
    <form method="post" action="{% url 'friend:remove_friend' username=target_user %}">
        {% csrf_token %}
        <button type="submit">Remove Friend</button>
    </form>
    <a href="{%  url 'chat:private_room' other_user=target_user %}">
        <button>CHAT</button>
        <br>
    </a>
</body>
</html>
