<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <style>
        #chat-log {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #7c7a7a;
            font-size: 16px;
            color: #4ed540;
        }
    </style>
</head>

<body>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
<script>
    let message;
    let username;
    let day;
    let hour;
    let formattedMessage;
    {% for chat in chats.all %}
        message = "{{ chat.content|safe }}";
        username = "{{ chat.username|safe }}";
        day = "{{ chat.timestamp|date:'Y-m-d' }}";
        hour = "{{ chat.timestamp|date:'H:i' }}";
        formattedMessage = `[${day} ${hour}][${username}]: ${message}`;
        document.querySelector('#chat-log').value += (formattedMessage + '\n');
    {% endfor %}
</script>

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const timestamp = new Date(data.timestamp);
        const day = `${timestamp.getUTCFullYear()}-${padZero(timestamp.getUTCMonth() + 1)}-${padZero(timestamp.getUTCDate())}`
        const hour = `${padZero(timestamp.getUTCHours())}:${padZero(timestamp.getUTCMinutes())}`;
        const formattedMessage = `[${day} ${hour}][${data.username}]: ${data.message}`;
        document.querySelector('#chat-log').value += (formattedMessage + '\n');
    };

    function padZero(num) {
        return num.toString().padStart(2, '0');
    }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</body>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
</html>